.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.main {
    width: 100%;
}

.content-card {
    background: #FFF;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 20px;
}

.content-card .content-title {
    margin-bottom: 20px;
}

p {
    margin: 0;
}

/*
 * TABLES
 */

thead {
    background: #0284aa;
    color: #FFF;
}

thead tr {
    height: 40px !important;
    line-height: 40px;
}

tbody tr {
    background: var(--cloud-white);
    border-top: #0284aa;
}