

.sidebar {
    height: 100%;
    min-width: 260px;
    max-width: 260px;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    background: var(--dark-gray);
    position: fixed;

}

.sidebar .sidebar-header {
    position: relative;
    z-index: 5;
    height: 60px;
    max-height: 60px;
    background: var(--contrast-gray);
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}

.sidebar-content {
    z-index: 5;
    position: relative;
    padding: 10px;
}
.sidebar-content .sidebar-title {
    position: relative;
    z-index: 5;
    padding: 25px 14px 25px;
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    color: #0284aa;
    border: none;
}

.sidebar .nav-link {
    color: #FFF;
    transition: 0.3s;
}

.sidebar .nav-link:hover {
    color: #0284aa;
}


@media (max-width: 1200px) {
    .sidebar {
        margin-left: -260px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }
}