
.btn {
    border: none;
    padding: 10px 35px 10px 35px;
    color: white ;
    font-weight: bold;
    text-transform: uppercase;
}

/*
 * PRIMARY
 */
.btn-primary {
    transition: 0.5s;
    background: var(--light-blue) !important;
}

.btn-primary:hover {
    color: #ffffff;
    background: var(--dark-blue) !important;
}

/*
 * DANGER
 */
.btn-danger {
    background: var(--light-red) !important;
}

.btn-danger:hover {
    background: var(--dark-red) !important;
}

/*
 * SUCCESS
 */
.btn-success {
    background: var(--light-green) !important;
}

.btn-success:hover {
    background: var(--dark-green) !important;
}
