.navCustom{
    z-index: 5;
    position: fixed;
    transition:all 0.3s;
    width: 100%;
    margin-top: -60px;
    display: none;
    background: var(--dark-gray);
    min-height: 60px;
}

.navCustom .header{
   position: absolute;
    left: 0px;
    top:0px;
    padding-right: 30px;
    padding-left: 30px;
    min-height: 60px;
    height: 100%;
    background: var(--contrast-gray);
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}
.navCustom #collapseEx2{
    margin-left: 200px;
}
.navBar-titleCustom {
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    color: #0284aa;
    border: none;
}
@media (max-width: 1200px) {
    .navCustom {
        display: block;
        margin-top: 0px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }
}