

.login-card {

    animation: gradient 15s ease infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-left: 6px solid var(--light-orange);
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
}
.loading {
    width: 40px;
    right: 10px;
    bottom: 20px;
    position: absolute;
}

.login-input {
    margin-bottom: 25px;
}
