.alert {
    border: none;
    color: #FFF;
}

/*
 * PRIMARY
 */
.alert-primary {
    background: var(--light-blue) !important;
}

/*
 * DANGER
 */
.alert-danger {
    background: var(--light-red) !important;
}

/*
 * SUCCESS
 */
.alert-success {
    background: var(--light-green) !important;
}