
:root {
  --dark-gray: #313a46;
  --contrast-gray: #181d23;
  --light-gray: #3f4b5a;
  --light-blue: #727cf5;
  --dark-blue: #2435a5;
  --light-orange: #ffbc00;
  --dark-orange: #cc9600;
  --light-red: #fa5c7c;
  --dark-red: #b71e3d;
  --light-green: #0acf97;
  --dark-green: #08966e;
  --cloud-white: #fafbfe;
}

.content {

  margin-left: 260px;
  padding: 25px 10px;
  min-height: calc(100vh - 60px);
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .content {
    padding-top: 60px;
    width: 100%;
    margin-left: 0px;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cloud-white);
}

::-moz-selection {
  color: #fff;
  background-color: var(--light-gray);
}

::selection {
  color: #fff;
  background-color: var(--light-gray);
}

strong {
  color: var(--light-blue);
}


h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-gray);
}

/*
 * TABLES
 */

thead {
  background: var(--light-blue);
  color: #FFF;

}

thead tr {
  height: 40px !important;
  line-height: 40px;
}

tbody tr {
  background: var(--cloud-white);
  border-top: 2px solid var(--light-blue);
}

/*
 * BOOTSTRAP
 */
textarea:focus,
a:focus,
a:hover,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

